<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
    <div class="content-page">
        <table *ngIf="addressList">
            <tr>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Número</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>País</th>
            </tr>

            <tr *ngFor="let item of addressList">
                <td>{{item.street}}</td>
                <td>{{item.neighborhood}}</td>
                <td>{{item.number}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
            </tr>
        </table>
        <div class="card-header">
            <div class="card-title">
                Cadastro de Endereços
            </div>
        </div>

        <form class="form-page" [formGroup]="addressForm" (submit)="enviar()">
            <div class="row">
                <div class="group-row">
                    <label for="">Rua:</label>
                    <input type="text" name="street" id="street" placeholder="Informe o nome da rua:" formControlName="street" required>
                    <label class="error-input" *ngIf="this.addressForm.get('street')?.errors?.['required'] &&
                this.addressForm.get('street')?.touched">
                        Campo Obrigatório
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label for="">Bairro:</label>
                    <input type="text" name="neighborhood" id="neighborhood" placeholder="Informe o nome do bairro:" formControlName="neighborhood" required>
                    <label class="error-input" *ngIf="this.addressForm.get('neighborhood')?.errors?.['required'] &&
                this.addressForm.get('neighborhood')?.touched">
                        Campo Obrigatório
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label for="">Número:</label>
                    <input type="number" name="number" id="number" placeholder="Informe o número:" formControlName="number" required>
                    <label class="error-input" *ngIf="this.addressForm.get('number')?.errors?.['required'] &&
                this.addressForm.get('number')?.touched">
                        Campo Obrigatório
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label for="">Cidade:</label>
                    <input type="text" name="city" id="city" placeholder="Informe a cidade:" formControlName="city" required>
                    <label class="error-input" *ngIf="this.addressForm.get('city')?.errors?.['required'] &&
                this.addressForm.get('city')?.touched">
                        Campo Obrigatório
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label for="">Estado</label>
                    <input type="text" name="state" id="state" placeholder="Informe o Estado" formControlName="state" required>
                    <label class="error-input" *ngIf="this.addressForm.get('state')?.errors?.['required'] &&
                this.addressForm.get('state')?.touched">
                        Campo Obrigatório
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="group-row">
                    <label for="">País</label>
                    <input type="text" name="country" id="country" placeholder="Informe o país" formControlName="country" required>
                    <label class="error-input" *ngIf="this.addressForm.get('country')?.errors?.['required'] &&
                this.addressForm.get('country')?.touched">
                        Campo Obrigatório
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="group-row">

                    <input type="submit" value="Salvar" class="btn-primary">

                </div>

            </div>
        </form>
    </div>
</div>
