<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
  <div class="content-page">
      <div class="card-header">
          <div class="card-title">
            Cadastro de Endereços
          </div>
      </div>

      <form class="form-page" [formGroup]="addressForm" (submit)="enviar()">
          <div class="row">
            <div class="group-row">
              <label for="">Rua:</label>
              <input type="text"
                name="Street"
                id="Street"
                placeholder="Informe o nome da rua:"
                formControlName="Street"
                required>
                <label class="error-input"
                *ngIf="this.addressForm.get('Street')?.errors?.['required'] &&
                this.addressForm.get('Street')?.touched">
                  Campo Obrigatório
                </label>
            </div>
          </div>

          <div class="row">
            <div class="group-row">
              <label for="">Bairro:</label>
              <input type="text"
                name="Neighborhood"
                id="Neighborhood"
                placeholder="Informe o nome do bairro:"
                formControlName="Neighborhood"
                required>
                <label class="error-input"
                *ngIf="this.addressForm.get('Neighborhood')?.errors?.['required'] &&
                this.addressForm.get('Neighborhood')?.touched">
                  Campo Obrigatório
                </label>
            </div>
          </div>

          <div class="row">
            <div class="group-row">
              <label for="">Número:</label>
              <input type="number"
                name="Number"
                id="Number"
                placeholder="Informe o número:"
                formControlName="Number"
                required>
                <label class="error-input"
                *ngIf="this.addressForm.get('Number')?.errors?.['required'] &&
                this.addressForm.get('Number')?.touched">
                  Campo Obrigatório
                </label>
            </div>
          </div>

          <div class="row">
            <div class="group-row">
              <label for="">Cidade:</label>
              <input type="text"
                name="City"
                id="City"
                placeholder="Informe a cidade:"
                formControlName="City"
                required>
                <label class="error-input"
                *ngIf="this.addressForm.get('City')?.errors?.['required'] &&
                this.addressForm.get('City')?.touched">
                  Campo Obrigatório
                </label>
            </div>
          </div>

          <div class="row">
            <div class="group-row">
              <label for="">Estado</label>
              <input type="text"
                name="State"
                id="State"
                placeholder="Informe o Estado"
                formControlName="State"
                required>
                <label class="error-input"
                *ngIf="this.addressForm.get('State')?.errors?.['required'] &&
                this.addressForm.get('State')?.touched">
                  Campo Obrigatório
                </label>
            </div>
          </div>

          <div class="row">
            <div class="group-row">
              <label for="">País</label>
              <input type="text"
                name="Country"
                id="Country"
                placeholder="Informe o país"
                formControlName="Country"
                required>
                <label class="error-input"
                *ngIf="this.addressForm.get('Country')?.errors?.['required'] &&
                this.addressForm.get('Country')?.touched">
                  Campo Obrigatório
                </label>
            </div>
          </div>
            <div class="row">
              <div class="group-row">

                <input type="submit" value="Salvar" class="btn-primary">

              </div>

          </div>
      </form>
  </div>
</div>




